<h3>Observaciones</h3>
<div class="container" id="obs_container">
  <div class="row">
    <div class="col">
      <textarea name="observaciones" cols="40" rows="10" class="form-control" id="id_obs" placeholder="No se han realizado observaciones" readonly=""></textarea>
    </div>
  </div>
</div>
<div class="container" id="btn_container">
  <div class="row" id="buttons_row">
    <div class="col">
      <button type="button" class="btn btn-primary float-right" id="edit_obs" name="button">Editar</button>
    </div>

  </div>
  <div class="row" id="buttons_row_edit">
    <div class="col-auto mr-auto">
      <button type="button" class="btn btn-danger" id="cancel_obs" name="button">Cancelar</button>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-success" id="save_obs" name="button">Guardar</button>
    </div>
  </div>
</div>
