<!--# # Created by Manuel Garcia
# Description : 404 error
# Modified by: Manuel Garcia
# Modify date: 15/10/2018 #-->

{% extends 'base.html' %}
{% load static %}

{% block head_title %}{{block.super}} | Registro{% endblock head_title %}
{% block cs %} <link rel="stylesheet" href="{% static 'edit.css' %}"> {% endblock cs %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Error 404</h1>
    <p class="lead">No se ha encontrada la pagina solicitada debido a que no existe o esta solicitando algo fuera del servicio.</p>
    <hr class="my-4">
    <p>Click en el boton para volver a la pagina de inicio.</p>
    <a class="btn btn-warning btn-lg" href="{% url 'home' %}" role="button">Inicio</a>
  </div>
</div>

{% endblock content %}
{% block jav %}
{% endblock jav %}
