<!-- # Created by Manuel Garcia
Description : Base html as template
Modified by: Manuel Garcia
Modify date: 15/10/2018 -->

{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.10/combined/css/gijgo.min.css">
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'gijgo.min.css' %}">


    {% block cs %} {% endblock cs %}
  <title>{% block head_title %}Toribio Romo{% endblock head_title %}</title>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">AMTR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registrar' %}">Registro</a>
        </li>
        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'estadisticas' %}">Estadísticas</a>
        </li>
      </ul>
      <ul class="nav justify-content-end">
        <li class="nav-item float-right">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        </ul>
         {% else %}
      </ul>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      </ul>
        {% endif %}



    </div>
  </nav>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        {% block logincontent %}


        {% endblock logincontent %}
      </div>
    </div>
  </div>

  {% block content %}


  {% endblock content %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="{% static 'jquery-3.3.1.min.js' %}" ></script>
  <script src="{% static 'popper.min.js' %}"></script>
  <script src="{% static 'bootstrap.min.js' %}"></script>
  <script src="{% static 'moment.min.js' %}"></script>
  <script src="{% static 'gijgo.min.js' %}"></script>
  <script src="{% static 'basic.js' %}"></script>
  {% block jav %} {% endblock jav %}

</body>

</html>
