<!--# # Created by Manuel Garcia
# Description : Registration of a migrant template with form
# Modified by: Manuel Garcia
# Modify date: 15/10/2018 #-->

{% extends 'base.html' %}
{% load static %}

{% block head_title %}{{block.super}} | Registro{% endblock head_title %}
{% block cs %}
<link rel="stylesheet" href="{% static 'estadisticas.css' %}">
{% endblock cs %}
{% block content %}
<div id="retro_ajax">

</div>

<div class="container">
  <h1 id="tit">Estadísticas</h1>
</div>
<div class="container" id="tab_cont">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="btn nav-link" id="ajaxGeneral">General</a>
    </li>
    <li class="nav-item">
      <a class="btn nav-link" id="ajaxOtros">Otros</a>
    </li>
    <li class="nav-item">
      <a class="btn nav-link" id="ajaxOD">Paises</a>
    </li>
    <li class="nav-item">
      <a class="btn nav-link" id="ajaxReg">Registros</a>
    </li>
  </ul>
</div>



<div class="container" id="graphs">



</div>





</div>





{% endblock content %}
{% block jav %}
<script src="{% static 'moment.min.js' %}"></script>
<script src="{% static 'Chart.min.js' %}"></script>
<script src="{% static 'estadisticas.js' %}"></script>
{% endblock jav %}
