<!--# # Created by Manuel Garcia
# Description : Registration of a migrant template with form
# Modified by: Manuel Garcia
# Modify date: 15/10/2018 #-->

{% extends 'base.html' %}
{% load static %}

{% block head_title %}{{block.super}} | Registro{% endblock head_title %}
{% block cs %}
<link rel="stylesheet" type="text/css" href="{% static 'dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'twitter-bootstrap.css' %}">





<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock cs %}
{% block content %}
<div class="container">
    <h1 id="tit">Personas Registradas</h1>
</div>
<div class="container table-responsive " id="cont_tab">
  <table id="consulta" class=" table table-striped table-bordered dt-responsive nowrap " style="width:100%">
          <thead>
              <tr>
                  <th>Activo</th>
                  <th>Sistema</th>
                  <th>Nombre</th>
                  <th>Fecha ingreso</th>
                  <th>Identificacion</th>
                  <th>Origen</th>
                  <th>Destino</th>
                  <th>Fecha nacimiento</th>
                  <th>Direccion</th>
                  <th>Contacto</th>
                  <th>Fecha registro</th>
                  <th>Ultima salida</th>
              </tr>
          </thead>
          <tfoot>
          </tfoot>
      </table>
</div>


{% endblock content %}
{% block jav %}





<script type="text/javascript" charset="utf8" src="{% static 'jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'dataTables.responsive.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'home.js' %}"></script>
{% endblock jav %}
