<!--# # Created by Manuel Garcia
# Description : Migrant detail view
# Modified by: Manuel Garcia
# Modify date: 17/10/2018 #-->

{% extends 'base.html' %}
{% load countries %}
{% load static %}



{% block head_title %}{{block.super}} | Migrante {{migrante.id}} {% endblock head_title %}
{% block cs %} <link rel="stylesheet" href="{% static 'all.css' %}">

<link rel="stylesheet" href="{% static 'profile.css' %}"> {% endblock cs %}

{% block content %}

<div class="" id="retro_ajax">
{% if message %}
<div id="retro_alert_good" class="alert good alert-success alert-dismissible fade show" role="alert"><strong>Logrado</strong> ' + {{message}} + ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
{% endif %}
</div>
<hr>
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-auto mr-auto">
      <h2>{{migrante.nombre}} {{migrante.paterno}}</h2>
      <br>
      <br>
    </div>
    <div class="col-auto" id="div_btn_activo">


      <br>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->


      <div class="text-center">
        <img src={{migrante.imagen_migrante.url}} class="avatar img-circle img-thumbnail" alt="avatar" id="img_mig_p">
        <i class="fas fa-edit" id="edit_prof"></i>
      </div>
      </hr><br>

      <div id="div_btn_aceptado">

      </div>

      <ul class="list-group">
        <li class="list-group-item text-muted">Información Básica <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item"><span class="pull-left"><strong>Id</strong></span> {{migrante.tipo_identificacion}}</li>
        <li class="list-group-item"><span class="pull-left"><strong>Pais de origen</strong></span> {{migrante.pais_origen}}</li>
        <li class="list-group-item"><span class="pull-left"><strong>Primer registro</strong></span> {{migrante.fecha_entrada}}</li>
        <li class="list-group-item"><span class="pull-left"><strong>Fecha ingreso</strong></span> {{migrante.fecha_ingreso}}</li>

        <div id="li_fecha_sal">

        </div>

        <li class="list-group-item"><span class="pull-left"><strong>Numero de Sistema</strong></span> <span id="migranteId">{{migrante.id}}</span></li>

      </ul>
      <div class="adm">
        <button type="button" id="btn_adm" class="btn btn-secondary" data-toggle="modal" data-target="#adm_modal" aria-label="Close">Administrar</button>
      </div>

            <!-- Modal -->
      <div class="modal fade" id="adm_modal" tabindex="-1" role="dialog" aria-labelledby="admModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="admModalLabel">Administrar Migrante</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">¡Cuidado!</h4>
                <p>Esta pestaña tiene como fin el eliminar administrativamente al migrante correspondiente.</p>

                <p>Para ello inserta <strong>borrar migrante {{ migrante.pk }}</strong> para confirmar.</p>
                <form class="" action="index.html" method="post">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Frase: </span>
                    </div>
                    <input id="borrar_confirmacion" type="text" aria-label="confirmacion" class="form-control">
                  </div>
                </form>
              </div>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-danger" id="eliminar_migrante">Continuar</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--/col-3-->
    <div class="col-sm-9">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="btn nav-link active" href="{% url 'migrante' migrante.id %}"id="ajaxProfileInfo">¿Quién es?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="ajax_observaciones" >Observaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="modal_editar"  href="{% url 'migrante_editar' migrante.id %}">Editar</a>
        </li>
      </ul>

<div id="modal_confirmation">

</div>
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <div class="container scrollable-content" id ="ajax_space">


               <div class="card card-outline-secondary">
                   <div class="card-header">
                       <h4 class="mb-0">Datos importantes</h4>
                   </div>
                   <div class="card-body">
                     <div class="row form-group">

                       <div class="col">
                         <h5>Nombre completo:</h5>
                         <p>{{migrante.nombre}} {{migrante.paterno}} {{migrante.materno}}</p>
                       </div>
                       <div class="col">
                         <h5>Fecha de nacimiento:</h5>
                         <p>{{migrante.fecha_nacimiento}}</p>
                       </div>
                     </div>
                   </div>
                   <!--/card-body-->
               </div>

               <!-- /form card  -->
               <div class="card card-outline-secondary">
                   <div class="card-header">
                       <h4 class="mb-0">Identificadores</h4>
                   </div>
                   <div class="card-body">
                     <div class="row form-group">
                       <div class="col">
                         <h5>Tipo de identificacion:</h5>
                         <p>{{migrante.tipo_identificacion}}</p>
                       </div>
                       <div class="col">
                         <h5>Identificacion:</h5>
                         <p>{{migrante.identificacion}}</p>
                       </div>
                     </div>
                   </div>
                   <!--/card-body-->
               </div>
               <!-- /form card  -->
               <!-- /form card  -->
               <div class="card card-outline-secondary">
                   <div class="card-header">
                       <h4 class="mb-0">Migración</h4>
                   </div>
                   <div class="card-body">
                     <div class="row form-group">
                       <div class="col">
                         <h5>Motivo de migración:</h5>
                         <p>{{migrante.motivo}}</p>
                       </div>
                       <div class="col">
                         <h5>País de origen:</h5>
                         <p>{% get_country migrante.pais_origen as country %}{{ country.name }}</p>
                       </div>

                     </div>

                     <div class="row form-group">
                       <div class="col">
                         <h5>Lugar de ingreso al país:</h5>
                         <p>{{migrante.lugar_ingreso}}</p>
                       </div>
                       <div class="col">
                         <h5>Intentos de migración: </h5>
                         <p>{{ migrante.intentos }}</p>
                       </div>

                     </div>

                     <div class="row form-group">
                       <div class="col">
                         <h5>País de destino:</h5>
                         <p>{% get_country migrante.pais_destino as country_d %}{{ country_d.name }}</p>
                       </div>
                       <div class="col">
                         <h5>Ciudad de destino:</h5>
                         <p>{{migrante.ciudad_destino}}</p>
                       </div>
                     </div>

                     <div class="row form-group">
                       <div class="col">
                         <h5>Familiares en México:</h5>
                         <p>{% if migrante.familiares_mexico %} Sí {% else %} No {% endif%}</p>
                       </div>
                       <div class="col">
                         <h5>Familiares en el destino:</h5>
                         <p>{% if migrante.familiares_mexico %} Sí {% else %} No {% endif%}</p>
                       </div>
                     </div>
                   </div>
                   <!--/card-body-->
               </div>
               <!-- /form card  -->

               <div class="card card-outline-secondary">
                   <div class="card-header">
                       <h4 class="mb-0">Informacion personal</h4>
                   </div>
                   <div class="card-body">
                     <div class="row form-group">
                       <div class="col">
                         <h5>Sexo:</h5>
                         <p>{{migrante.sexo}}</p>
                       </div>
                       <div class="col">
                         <h5>Estado civil:</h5>
                         <p>{{migrante.estado}}</p>
                       </div>
                       <div class="col">
                         <h5>Hijos:</h5>
                         <p>{{migrante.hijos}}</p>
                       </div>
                     </div>
                   </div>
                   <!--/card-body-->
               </div>
               <!-- /form card  -->

               <div class="card card-outline-secondary">
                   <div class="card-header">
                       <h4 class="mb-0">Contacto</h4>
                   </div>
                   <div class="card-body">
                     <div class="row form-group">
                       <div class="col">
                         <h5>Direccion:</h5>
                         <p>{{migrante.direccion}}</p>
                       </div>
                     </div>

                     <div class="row form-group">
                       <div class="col">
                         <h5>Telefono de contacto:</h5>
                         <p>{{migrante.telefono_contacto}}</p>
                       </div>
                       <div class="col">
                         <h5>Telefono para recados:</h5>
                         <p>{{migrante.telefono_recados}}</p>
                       </div>
                     </div>
                   </div>
                   <!--/card-body-->
               </div>
               <!-- /form card  -->

               <div class="card card-outline-secondary">
                   <div class="card-header">
                       <h4 class="mb-0">Atenciones</h4>
                   </div>
                   <div class="card-body">
                     <div class="row form-group">
                       <div class="col">
                         <h5>Padecimientos: </h5>
                         <p>{% if migrante.padecimiento %} Sí, {{migrante.padecimiento_descripcion}} {% else %} No {% endif%} </p>
                       </div>

                       <div class="col">
                         <h5>Asistencias dadas: </h5>
                         {% for asistencia in migrante.asistencias.all%} <p>{{asistencia}}</p> {% endfor %}
                       </div>
                     </div>
                   </div>
                   <!--/card-body-->
               </div>
               <!-- /form card  -->

               <div class="card card-outline-secondary">
                   <div class="card-header">
                       <h4 class="mb-0">Percances</h4>
                   </div>
                   <div class="card-body">
                     <div class="row form-group">
                       <div class="col">
                         <h5>Accidentes: </h5>
                         <p>{% if migrante.accidentes%} Sí, en: {{migrante.lugar_accidente}} {% else %} No {% endif%} </p>
                       </div>
                       <div class="col">
                         <h5>Atracos: </h5>
                         <p>{% if migrante.atracos%} Sí, en: {{migrante.lugar_atraco}} {% else %} No {% endif%} </p>
                       </div>
                     </div>

                     <div class="row form-group">
                       <div class="col">
                         <h5>Denuncio: </h5>
                         <p>{% if migrante.denuncio %} Sí  {% else %} No {% endif%}</p>
                       </div>
                     </div>
                   </div>
                   <!--/card-body-->
               </div>
               <!-- /form card  -->

               <div class="card card-outline-secondary">
                   <div class="card-header">
                       <h4 class="mb-0">Estadias</h4>
                   </div>
                   <div class="card-body">
                     <div class="row form-group">
                       <div class="col">
                         <h5>Estuvo en otros albergues: </h5>
                         <p>{% if migrante.otros_al %} Sí, {{migrante.albergues_descripcion}}  {% else %} No {% endif%} </p>
                       </div>
                     </div>
                   </div>
                   <!--/card-body-->
               </div>
               <!-- /form card  -->

               <div class="card card-outline-secondary">
                   <div class="card-header">
                       <h4 class="mb-0">Relvante para el albergue</h4>
                   </div>
                   <div class="card-body">
                     <div class="row form-group">
                       <div class="col">
                         <h5>Como se entero del albergue: </h5>
                         <p>{{migrante.con_albergue}}</p>
                       </div>
                       <div class="col">
                         <h5>Firma del individuo: </h5>
                         <button type="button" class="btn btn-outline-primary"name="mostrarFirma" data-toggle="modal" data-target="#firmaModal"> Mostrar Firma</button>
                       </div>

                     </div>

                   </div>
                   <!--/card-body-->
               </div>
               <!-- /form card  -->

            </div>
          </div>



        </div>
        <!--/tab-pane-->


      </div>
      <!--/tab-content-->

    </div>
    <!--/col-9-->

    <!-- Modal -->
<div class="modal fade" id="firmaModal" tabindex="-1" role="dialog" aria-labelledby="firmaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Firma del Migrante</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <img src={{migrante.imagen_firma.url}} class="avatar img-circle img-thumbnail" id = "firma_imagen"alt="avatar">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" id="img_firm_mod">Cambiar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cambiar Imagen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">
        	<div class="row">
        		<h5 class="text-center">Imagen seleccionada</h5>
        		<hr />

        		<div class="col">
        		    <div class="form-group">
                      <div class="main-img-preview">
                        <img class="thumbnail img-preview" src="" title="Imagen de Perfil" id="img_show">
                      </div>
                      <div class="input-group">
                        <input id="fakeUploadLogo" class="form-control fake-shadow" placeholder="Choose File" disabled="disabled">
                        <div class="input-group-btn">
                          <div class="fileUpload btn btn-danger fake-shadow">
                            <span><i class="glyphicon glyphicon-upload"></i>Cambiar imagen</span>

                            <input id="logo-id" name="logo" type="file" class="attachment_upload">
                          </div>
                        </div>
                      </div>

                    </div>
        		</div>
        	</div>
        </div>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" id="ajax_img" >Aceptar</button>
      </div>
    </div>
  </div>
</div>

  {% endblock content %}

  {% block jav %}
    <script type="text/javascript">
      var id="{{migrante.id}}";
      var activ ={% if migrante.activo %} 1{% else %} 0{% endif %};
      var acept ={% if migrante.aceptado %} 1{% else %} 0{% endif %};
      var imagen_p = "{{migrante.imagen_migrante.url}}"
      var imagen_f = "{{migrante.imagen_firma.url}}"
    </script>
    <script src="{% static 'profile.js' %}"></script>
  {% endblock jav %}
