<!--# # Created by Manuel Garcia
# Description : Registration of a migrant template with form
# Modified by: Manuel Garcia
# Modify date: 15/10/2018 #-->

{% extends 'base.html' %}
{% load static %}

{% block head_title %}{{block.super}} | Registro{% endblock head_title %}
{% block cs %} <link rel="stylesheet" href="{% static 'new.css' %}"> {% endblock cs %}
{% block content %}

{% if form.errors %}

<!-- Modal -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Se presentaron errores en el registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {% for error in form.non_field_errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ error }}</strong>
          </div>
        {% endfor %}

        {% for field in form %}
            {% for error in field.errors %}

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>{{ field.name }}</strong>{{ field.error }} Es un campo invalido, porfavor corrigelo para subir el registro
                </div>
            {% endfor %}
        {% endfor %}

      </div>

      <div class="modal-footer">
        <button type="button" id="notif_error" class="btn btn-danger" onclick=close()>Aceptar</button>
      </div>
    </div>
  </div>
</div>

{% endif %}

<div class="container" id="retro_ajax">

</div>

  <div class="container" id="form_container">
    <form enctype="multipart/form-data" method="post" id="regForm">
      <div class="contrainer">
        <div class="row">
          <div class="col-8">
            <h1>Registrar Migrante</h1>
          </div>
          <div class="col-4">
            <div style="text-align:center;margin-top:15px;">
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
            </div>
          </div>
        </div>
      </div>

      {% csrf_token %}
      <div class="container">
     {% for field in form %}

        {%if forloop.counter == 1 or forloop.counter == 10 or forloop.counter == 17 or forloop.counter == 24 or forloop.counter == 29 or forloop.counter == 32 %}
            <div class="tab"> <h4 class=".sub">{{ tag.pop }}</h4>

        {% endif %}
        {%if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3 or forloop.counter == 5 or forloop.counter == 6 or forloop.counter == 8 or forloop.counter == 9 or forloop.counter == 10 or forloop.counter == 12 or forloop.counter == 14 or forloop.counter == 16 or forloop.counter == 17 or forloop.counter == 19 or forloop.counter == 20 or forloop.counter == 22 or forloop.counter == 24 or forloop.counter == 26 or forloop.counter == 28 or forloop.counter == 29 or forloop.counter == 30 or forloop.counter == 32 or forloop.counter == 33 or forloop.counter == 34  %}

                <div class="row">

        {% endif %}

        {% if forloop.counter < 38 %}
  				<p class="form-group col{% if forloop.counter == 12 %}-7{% endif %}{% if forloop.counter == 13 %}-4{% endif %}{% if forloop.counter == 15 %}-4{% endif %}{% if forloop.counter == 14 %}-8{% endif %}{% if forloop.counter == 22 or forloop.counter == 24 or forloop.counter == 26 or forloop.counter == 30 %}-3{% endif %}{% if forloop.counter == 23 or forloop.counter == 25 or forloop.counter == 27 or forloop.counter == 31 %}-9{% endif %}">

            {% if forloop.counter < 29 or forloop.counter > 31 and forloop.counter < 36  %}
  					{{ field.label_tag }}
            {% elif forloop.counter == 29 %}
            Como se entero del albergue:
            {% elif forloop.counter == 30 %}
            Estuvo en otros:
            {% elif forloop.counter == 31 %}
            Descripcion de los otros:
            {% endif %}
            {{ field.errors }}
  					{{ field }}
          {% if forloop.counter == 34 or forloop.counter == 35 %}
          <br>
            <label class="btn btn-outline-danger" id="btn_{{field.id_for_label}}"for="{{field.id_for_label}}">Agregar Imagen</label>
          {% endif %}

  				</p>
          {% if forloop.counter == 12 or forloop.counter == 16 or forloop.counter == 29 or forloop.counter == 32 %}
          <button type="button" id="ajax_btn_{{forloop.counter}}"class="btn btn-outline-primary ajaxregbtn col-1" >
            +
          </button>
          {% endif %}
        {% endif %}


        {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 4 or forloop.counter == 5 or forloop.counter == 7 or forloop.counter == 8 or forloop.counter == 9 or forloop.counter == 11 or forloop.counter == 13 or forloop.counter == 15 or forloop.counter == 16 or forloop.counter == 18 or forloop.counter == 19 or forloop.counter == 21 or forloop.counter == 23 or forloop.counter == 25 or forloop.counter == 27 or forloop.counter == 28 or forloop.counter == 29 or forloop.counter == 31  or  forloop.counter == 32 or forloop.counter == 33 or forloop.counter == 35 %}
             </div>
        {% endif %}



        {% if forloop.counter == 9 or forloop.counter == 16 or forloop.counter == 23 or forloop.counter == 28 or forloop.counter == 31 or forloop.counter == 35 %}
            </div>
        {% endif %}

			{% endfor %}
      </div>

      <div style="overflow:auto;">
        <div style="float:right;">
          <button type="button" class="btn btn-outline-primary" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
          <button type="button" class="btn btn-primary" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
        </div>
      </div>


    </form>
  </div>


  <!-- Modal for Ajax Registration -->
  <div class="modal fade" id="AjaxRegistration" tabindex="-1" role="dialog" aria-labelledby="AjaxRegistration" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AjaxRegistrationTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal_body_ajax">
          <form>
          <div class="form-group">
            <label for="new_entry" id="new_entry_label" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="new_entry">
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" id = "addAjax" class="btn btn-primary">Agregar</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
{% block jav %}

<script src="{% static 'regis.js' %}"></script>

{% endblock jav %}
