<!--# # Created by Manuel Garcia
# Description : Edition of a migrant template with form
# Modified by: Manuel Garcia
# Modify date: 19/10/2018 #-->

{% extends 'base.html' %}
{% load static %}

{% block head_title %}{{block.super}} | Editar Migrante{% endblock head_title %}
{% block cs %} <link rel="stylesheet" href="{% static 'edit.css' %}"> {% endblock cs %}
{% block content %}

{% if form.errors %}

<!-- Modal -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Se presentaron errores en el registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for field in form %}
            {% for error in field.errors %}

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>{{ field.name }}</strong>{{ field.error }} Es un campo invalido, porfavor corrigelo para subir el registro
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danfg alert-dismissible fade show" role="alert">
            El campo <strong>{{ field.name }}</strong> {{ field.errors }}es invalido, porfavor corrigelo para subir el registro
          </div>
        {% endfor %}
      </div>

      <div class="modal-footer">
        <button type="button" id="notif_error" class="btn btn-danger" >Aceptar</button>
      </div>
    </div>
  </div>
</div>

{% endif %}

<div class="container" id="retro_ajax">

</div>

  <div class="container" id="form_container">
    <form enctype="multipart/form-data" method="post" data-url='{{ request.build_absolute_uri|safe }}' id="regForm">
      <div class="contrainer">
        <div class="row">
          <div class="col-auto mr-auto">
            <h1>Editar Migrante</h1>
          </div>
          <div class="col-auto">
            <a class="btn btn-outline-primary btn-lg" href='{% url "migrante" form.instance.id %}' role="button">Volver al perfil</a>
          </div>

        </div>
      </div>

            {% csrf_token %}
      <div class="container">
     {% for field in form %}

        {%if forloop.counter == 1 or forloop.counter == 10 or forloop.counter == 17 or forloop.counter == 24 or forloop.counter == 29 or forloop.counter == 32 %}
            <div class="tab"> <h4 class=".sub">{{ tag.pop }}</h4>

        {% endif %}
        {%if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3 or forloop.counter == 5 or forloop.counter == 6 or forloop.counter == 8 or forloop.counter == 9 or forloop.counter == 10 or forloop.counter == 12 or forloop.counter == 14 or forloop.counter == 16 or forloop.counter == 17 or forloop.counter == 19 or forloop.counter == 20 or forloop.counter == 22 or forloop.counter == 24 or forloop.counter == 26 or forloop.counter == 28 or forloop.counter == 29 or forloop.counter == 30 or forloop.counter == 32 or forloop.counter == 33 or forloop.counter == 34  %}

                <div class="row">

        {% endif %}

        {% if forloop.counter < 38 %}
  				<p class="form-group col{% if forloop.counter == 12 %}-7{% endif %}{% if forloop.counter == 13 %}-4{% endif %}{% if forloop.counter == 15 %}-4{% endif %}{% if forloop.counter == 14 %}-8{% endif %}{% if forloop.counter == 22 or forloop.counter == 24 or forloop.counter == 26 or forloop.counter == 30 %}-3{% endif %}{% if forloop.counter == 23 or forloop.counter == 25 or forloop.counter == 27 or forloop.counter == 31 %}-9{% endif %}">
          {% if forloop.counter != 34 and forloop.counter != 35 %}
            {% if forloop.counter < 29 or forloop.counter > 31 and forloop.counter < 36  %}
  					{{ field.label_tag }}
            {% elif forloop.counter == 29 %}
            Como se entero del albergue:
            {% elif forloop.counter == 30 %}
            Estuvo en otros:
            {% elif forloop.counter == 31 %}
            Descripcion de los otros:
            {% endif %}
            {{ field.errors }}
  					{{ field }}

          {% endif %}

  				</p>
          {% if forloop.counter == 12 or forloop.counter == 16 or forloop.counter == 29 or forloop.counter == 32 %}
          <button type="button" id="ajax_btn_{{forloop.counter}}"class="btn btn-outline-primary ajaxregbtn col-1" >
            +
          </button>
          {% endif %}
        {% endif %}


        {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 4 or forloop.counter == 5 or forloop.counter == 7 or forloop.counter == 8 or forloop.counter == 9 or forloop.counter == 11 or forloop.counter == 13 or forloop.counter == 15 or forloop.counter == 16 or forloop.counter == 18 or forloop.counter == 19 or forloop.counter == 21 or forloop.counter == 23 or forloop.counter == 25 or forloop.counter == 27 or forloop.counter == 28 or forloop.counter == 29 or forloop.counter == 31  or  forloop.counter == 32 or forloop.counter == 33 or forloop.counter == 35 %}
             </div>
        {% endif %}



        {% if forloop.counter == 9 or forloop.counter == 16 or forloop.counter == 23 or forloop.counter == 28 or forloop.counter == 31 or forloop.counter == 35 %}
            </div>
        {% endif %}

			{% endfor %}
      </div>

      <div style="overflow:auto;">
        <div style="float:right;">
          <button type="submit" id="submit_act" hidden>Actualizar</button>

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm" id="nextBtn">Actualizar</button>
        </div>
      </div>


    </form>
  </div>

  <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirmTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirmar cambios</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Deseas confirmar los cambios que haz realizado?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" id="confirm_btn">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Ajax Registration -->
  <div class="modal fade" id="AjaxRegistration" tabindex="-1" role="dialog" aria-labelledby="AjaxRegistration" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AjaxRegistrationTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal_body_ajax">
          <form>
          <div class="form-group">
            <label for="new_entry" id="new_entry_label" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="new_entry">
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" id = "addAjax" class="btn btn-primary">Agregar</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
{% block jav %}
<script type="text/javascript">
      var inst_id = {{form.instance.id}}
      var url = "{% url 'migrante' form.instance.id %}"
      var url_editar = "{% url 'migrante_editar' form.instance.id %}"
    </script>
<script src="{% static 'edit.js' %}"></script>
{% endblock jav %}
