/* Created by Manuel Garcia
 Description : CSS file for password
 Modified by: Manuel Garcia
 Modify date: 26/10/2018 */
.modal-content{
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.jumbotron{
  margin-top: 2em;
}
.errors{
  color: #df2d2d;
  font-size: 0.9em;
}
.form-row .col {
  margin-left: 2em;
  margin-top: 1em;
}
.input-group input{
  width: 65%;
}
