/* Created by Manuel Garcia
 Description : CSS file for graphics
 Modified by: Manuel Garcia
 Modify date: 30/10/2018 */
#tit {
  margin-top: 1em;
}

#tab_cont {
  margin-top: 2em;
  padding-bottom: 2em;
}

#myChart3 {
  max-width: 650px;
  max-height: 650px;
}

#p_origen {
  margin-bottom: 2em;
}

#limpiar {
  margin-top: 2em;
}

.sub {
  margin-bottom: 1em;
}
