/* Created by Manuel Garcia
 Description : CSS file for profle
 Modified by: Manuel Garcia
 Modify date: 19/10/2018 */

#btn_container{
  padding-top: 2em;
}
#obs_title{
  padding-top: 1.5em;
}
#id_obs{
  margin-top: 1em;
}
.head_title{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.scrollable-content {
  height: 45em;
  overflow: auto;
  background-color: rgba(0,0,0,.03);
}
.card-header {

    background-color: rgba(0,0,0,.05);
}
.card-outline-secondary{
  margin-top: 2em;
}
#btn_acept{
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
}
#btn_adm
{
  display: block;
    width: 100%;
    margin-top: 1.5em;
}
#btn_activ{
  width: 200%;
  display: block;
  margin-right: 2em;
}

/* Container needed to position the button. Adjust the width as needed */
.text-center {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.text-center img {
  width: 100%;
  height: auto;
}

.text-center .fa-edit {
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 1.3em;
  color: black;

  border-radius: 5px;
}
/* File Upload */
.fake-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload #logo-id {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.img-preview {
    max-width: 100%;
}
