<!--# # Created by Manuel Garcia
# Description : Log out template for displaying retroalimentation
# Modified by: Manuel Garcia
# Modify date: 15/10/2018 #-->

{% extends "base.html" %}
{% load static %}
{% block head_title %}{{block.super}} | Logout{% endblock head_title %}
{% block cs %} <link rel="stylesheet" href="{% static 'new.css' %}"> {% endblock cs %}

{% block logincontent %}

  <br>
  <h4>¡Sesion Cerrada!</h4>
  <a href="{% url 'login' %}"><h5>Da click aqui para volver a inciar sesion</h5></a>

{% endblock %}
