<!--# # Created by Manuel Garcia
# Description : Login template for login users
# Modified by: Manuel Garcia
# Modify date: 15/10/2018 #}-->

{% extends "base.html" %}
{% load static %}
{% block head_title %}{{block.super}} | Login{% endblock head_title %}
{% block cs %} <link rel="stylesheet" href="{% static 'new.css' %}"> {% endblock cs %}

{% block logincontent %}

{% if form.errors %}

<div id="retro_alert_bad" class="alert bad alert-danger alert-dismissible fade show" role="alert"><strong>Parece que te haz equivocado: </strong> tu usuario y contraseña no son correctos reingresalos de favor. <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>

{% endif %}

{% if next %}
{% if user.is_authenticated %}
<div id="retro_alert_bad" class="alert bad alert-danger alert-dismissible fade show" role="alert"><strong>¡Prohibido!</strong> tu cuenta no tiene acceso a este seccion. Para proceder favor de ingresar con una cuenta que poseea el permiso necesario. <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>

{% else %}
<p></p>
<div id="retro_alert_bad" class="alert bad alert-danger alert-dismissible fade show" role="alert"><strong>No puedes visualizar este contenido:</strong> porfavor haz login para acceder. <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
{% endif %}
{% endif %}
<div class="container">
       <div class="card card-container">
           <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
           <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
           <p id="profile-name" class="profile-name-card"></p>

           <form class="form-signin" method="post" action="{% url 'login' %}">
             {% csrf_token %}
           <div class="container">
             <p class="form-group">

               {{ form.username.label_tag }}
               {{ form.username }}
             </p>
             <p class="form-group">

               {{ form.password.label_tag }}
               {{ form.password }}
             </p>

           </div>

             <input type="submit" value="Iniciar Sesion" class="btn btn-lg btn-primary btn-block ">
             <input type="hidden" name="next" value="{{ next }}">
           </form>
           {# Assumes you setup the password_reset view in your URLconf #}
           <br>
           <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>
       </div><!-- /card-container -->
   </div><!-- /container -->



{% endblock %}
