<!--# # Created by Manuel Garcia
# Description : Registration of a migrant template with form
# Modified by: Manuel Garcia
# Modify date: 15/10/2018 #-->

{% extends 'base.html' %}
{% load static %}

{% block head_title %}{{block.super}} | Registro{% endblock head_title %}
{% block cs %}

<link rel="stylesheet" href="{% static 'pass.css' %}">
{% endblock cs %}
{% block content %}



<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">¡Solicitud enviada!</h1>
    <p class="lead">Se ha enviado un correo con un link para poder cambiar tu contraseña.</p>
    <hr class="my-4">
    <p>Revisa tu correo y regresa para poder acceder.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Volver al login</a>
  </div>
</div>





{% endblock content %}
{% block jav %}
<script src="{% static 'pass.js' %}"></script>
{% endblock jav %}
