<!--# # Created by Manuel Garcia
# Description : Registration of a migrant template with form
# Modified by: Manuel Garcia
# Modify date: 15/10/2018 #-->

{% extends 'base.html' %}
{% load static %}

{% block head_title %}{{block.super}} | Registro{% endblock head_title %}
{% block cs %}

<link rel="stylesheet" href="{% static 'pass.css' %}">
{% endblock cs %}
{% block content %}

<div class="" id="retro_ajax">
  {% if form.errors %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ error }}</strong>
      </div>
    {% endfor %}

    {% for field in form %}
        {% for error in field.errors %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{ field.name }}</strong>{{ field.error }} Es un campo invalido, porfavor corrigelo para subir el registro
            </div>
        {% endfor %}
    {% endfor %}
  {% endif %}
</div>




<div class="modal-content">
  <div class="modal-header">
      <h1 class="modal-title"id="tit">Recuperar Contraseña</h1>
  </div>
<form class="needs-validation" method="post" novalidate>
{% csrf_token %}
<div class="form-row">
{% for field in form %}

    <div class="col">
      <label for="validationCustom01">{{ field.label_tag }}</label>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">Mail: </span>
        </div>

        {{ field }}
      <div class="errors">
        {{ field.errors }}
      </div>

      </div>
    </div>

  {% endfor %}
</div>
  <div class="modal-footer">
      <input type="submit" id ="sub1" class="btn btn-primary" name="" value="Confirmar" />
  </div>
</form>
</div>

{% endblock content %}
{% block jav %}
<script src="{% static 'pass.js' %}"></script>
{% endblock jav %}
